aiortc>=1.2.1
kivy>=2.1.0
pystun3>=0.1.2
msgpack>=1.0.3
zstandard>=0.17.0
cryptography>=36.0.1
kademlia>=1.4.3
Pillow>=9.0.1
pynput>=1.7.6
pybluez-updated
comtypes>=1.1.10
emoji>=2.2.0
numpy>=1.20.0
sounddevice>=0.4.4
soundfile>=0.11.0